body {
    background-color: palegreen;
  }
  h1 {
    color: Royalblue;
  }
  p {
    color: red;
  }
  li {
    color: red;
  }

  a:link {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: limegreen;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  /*centreert paragraven met div*/ 
div p {
  text-align: center;
}
