/* changes the text's font */
@font-face {
  font-family: sans-serif;
  src: url(sansation_light.woff);
}

* {
  font-family: sans-serif;
}

body {
    background-color: palegreen;
  }
  h1 {
    color: Royalblue;
  }
  p {
    color: red;
  }
  li {
    color: #0000cc;
  }

  a:link {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: limegreen;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  /*centreert paragraven met div*/ 
div p {
  text-align: center;
}

/* style the navbar */
#navbar {
  overflow: hidden;
  background-color: lightblue;
}
/* Navbar Links */
#navbar a {
  float: left;
  display: block;
  width: 90px;
  color: darkcyan;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
}
#navbar a:hover {
  background-color: limegreen;
  color: white 
}