body {
    background-color: palegreen;
  }
  h1 {
    color: Royalblue;
  }
  p {
    color: navy;
  }

  a:link {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: limegreen;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }