/* changes the text's font */
@font-face {
  font-family: sans-serif;
  src: url(sansation_light.woff);
}

* {
  font-family: sans-serif;
}
/* changes colors of many things*/
body {
    background-color: palegreen;
  }
  h1 {
    color: Royalblue;
  }
  p {
    color: navy;
  }

  a:link {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: limegreen;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
