/* changes the text's font */
@font-face {
  font-family: sans-serif;
  src: url(sansation-light.woff);
}

* {
  font-family: sans-serif;
}
/* changes colors of many things*/
body {
    background-color: palegreen;
  }
  h1 {
    color: Royalblue;
  }
  p {
    color: navy;
  }

  a:link {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: DarkCyan;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: limegreen;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  /* style the navbar */
  #navbar {
    overflow: hidden;
    background-color: lightblue;
  }
  /* Navbar Links */
  #navbar a {
    float: left;
    display: block;
    width: 90px;
    color: darkcyan;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
  }
  #navbar a:hover {
    background-color: limegreen;
    color: white
  }